.body {
  font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-family: 'Raleway' 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.header__links-list {
  display: flex;
  gap: 32px;
  padding-right: 36.52px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
  
}

.header__links-list-item {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  font-style: normal;
  line-height: 24.3px;
}

.header .address {
  justify-self: end;
  max-width: 240px;
}

.address__link {
  align-items: flex-start;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  min-height: 757px;
  padding: 0 50px;
  font-family: 'Raleway' sans-serif;
  background: url('../images/cover.jpg');
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  z-index: 1;
  max-width: 1000px;
  max-height: 385px;
  padding-top: 165px;
  color: #fff;
  font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 114.9px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text_left {
  display: block;
  text-align: left;
}

.aligned-text_center {
  display: block;
  padding-top: 20px;
  text-align: center;
  }

.aligned-text_right {
  display: block;
  padding-top: 20px;
  text-align: right;
}

.decription {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  gap: 40px;
  margin-top: auto;
  padding-bottom: 50px;
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.decription-text {
  display: flex;
  align-items: center;
  align-content: center;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  word-spacing: 18.7px;
}

.decription-button {
  width: 256px;
  height: 51px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  color: #fff;
  font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.6px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  position: relative;
  margin-top: 180px;
  padding-right: 24px;
  padding-left: 24px;
  color: #fff;
  font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
}

.lots__heading {
  margin-left: 40px;
  color: #000;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 27px;
  list-style-type: none;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  min-height: 596px;

}

.card-link {
  position: relative;
  height: 100%;
  text-decoration: none;

}

.card__title {
  position: relative;
  z-index: 2;
  margin-top: 48px;
  margin-right: 40px;
  margin-bottom: 16px;
  margin-left: 40px;
  font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: end;
  margin-right: 40px;
  margin-bottom: 48px;
  margin-left: 40px;
  font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card .overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  position: absolute;
  top: 700px;
  left: 64px;
  color: #000;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 334px 2fr;
  gap: 25px;
  padding: 175px 24px 180px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__column:first-child {
  align-items: center;
  padding-top: 30px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  padding-bottom: 30px;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  display: flex;
  margin: 0;
  padding-top: 136px;
  padding-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: left;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 80px;
  font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.footer .address {
  justify-self: center;
  max-width: 264.57px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
  list-style-type: none;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
  padding-right: 50px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}